In [3]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
pd.options.display.max_rows = 100

In [ ]:
# SQL query
# select * from pulsar_stars
# where (MIP >= 82.9453125 and MIP <= 84.3515625 and TARGET = 0) or (MIP >= 83.7734375 and MIP <= 92.6015625 and TARGET = 1)

In [4]:
df = pd.read_csv('report.csv')
df

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TARGET
0,84.742188,40.007274,1.368957,3.812073,5.736622,32.047311,5.979603,36.147975,1
1,91.828125,34.111744,1.446682,5.265289,3.741639,25.317370,7.235101,53.582074,1
2,83.679688,36.379281,0.572532,2.664611,4.040970,23.169129,7.006681,53.514005,0
3,84.039062,38.943951,0.668007,1.586058,1.793478,13.494579,11.433532,161.907833,0
4,84.273438,38.399975,0.662579,1.778425,2.984114,16.690291,8.407608,86.913036,0
...,...,...,...,...,...,...,...,...,...
197,84.695312,49.348499,0.960378,1.102570,5.490803,27.764100,6.181768,40.399247,1
198,83.773438,52.279031,1.206698,1.630834,97.373746,90.905524,0.132639,-1.683188,1
199,84.289062,38.725224,0.533822,1.800349,2.167224,15.943057,9.864013,115.332025,0
200,84.304688,32.877271,0.910484,4.379138,2.716555,19.913838,8.192144,72.083951,0
201,83.507812,34.670321,1.079368,3.660143,1.545987,15.268184,11.980909,159.930732,0

In [7]:
# число строк
len(df.index)

202

In [6]:
# выборочное среднее MIP
df.MIP.mean()

85.78925587871286

In [23]:
# линейная нормировка всех значений предикторов, выборочное среднее MIP
from sklearn.preprocessing import minmax_scale
predictors = df.drop(['TARGET'], axis = 1)
normalizedPred = minmax_scale(predictors)
normalizedPred[:, 0].mean()

0.2945184081514949

In [28]:
# модель логистической регрессии
from sklearn.linear_model import LogisticRegression
otkl = df['TARGET']
model = LogisticRegression(random_state = 2019, solver = 'lbfgs').fit(normalizedPred, otkl.values.ravel())

In [37]:
# вероятность отнесения звезды к классу пульсар
newStar = [[0.337, 0.513, 0.425, 0.036, 0.928, 0.721, 0.714, 0.261]]
model.predict_proba(newStar)[0, 1]

0.6135141552545638

In [59]:
#метод k-ближайших соседей, расстояние от новой звезды до ближайшего соседа
from sklearn.neighbors import KDTree
tree = KDTree(normalizedPred, leaf_size = 2, metric = 'euclidean')
tree.query(newStar, k = 1, return_distance = True)[0][0, 0]

0.7828460858809095

In [63]:
# класс для новой звезды при k = 5
fiveNeighbours = tree.query(newStar, k = 5, return_distance = True)
fiveNeighbours[1]

array([[111, 113, 103, 177, 148]])

In [64]:
# 1, т.к. преобладающее большинство равно 1
otkl.values.ravel()[fiveNeighbours[1]]

array([[1, 0, 1, 1, 1]])